<div class="container">
  <h1>Random Letters</h1>
  <h2><%= @letters %></h2>
  <h1>Your Result is:</h1>
  <h2><%= @user_answer %></h2>
  <h2>Result: <%= @result %></h2>
  <h2>Points: <%= @points %></h2>
  <h2>Elapsed Time: <%= @elapsed_time %> seconds</h2>
  <h2><%= link_to "Play again", new_path %></h2>
</div>
